{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Botament importierte TxProdukte</th>
        </tr>
        </thead>
        <tbody>
        {% for txImpProdukt in txImpProdukteArray %}
            <tr>
                <td>{{ txImpProdukt.uid }}</td>
                <td>{{ txImpProdukt.name }}</td>
                <td>{{ txImpProdukt.bezeichnung }}</td>
                <td>{{ txImpProdukt.eingangstext }}</td>
                <td>{{ txImpProdukt.eigenschaften }}</td>
                <td>{{ txImpProdukt.l10nParent }}</td>
                <td>{{ txImpProdukt.t3Origuid }}</td>
                <td>{{ txImpProdukt.sysLanguageUid }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}