{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Products</th>
        </tr>
        </thead>
        <tbody>
        {% if productsArray is defined %}
            {% for product in productsArray %}
                <tr>
                {% if product is defined %}
                    {{ dump(product) }}
                {% endif %}
                </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>
{% endblock %}