{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Kategorien</th>
        </tr>
        </thead>
        <tbody>
        {% if txImpKategorienArray is defined %}

            {% if txImpKategorienArray is defined %}
                {% for kategorie in txImpKategorienArray %}
                    <tr>
                        {% if kategorie is defined %}

                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}