{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Categories</th>
        </tr>
        </thead>
        <tbody>
        {% if categoriesArray is defined %}
            {% for category in categoriesArray %}
                <tr>
                {% if category is defined %}
                    {{ dump(category) }}
                {% endif %}
                </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>
{% endblock %}